@import "config";
@import "custom-colors";
@import "font-utils";
.dg-banner{
  max-width: 100%;
  left: 0;
  padding: 25px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  font-size: 24pt;
}
.dg-banner-primary{
  color: $primary-color;

  border-color: $primary-color;
}
.dg-banner-secondary{
  color: $secondary-color;

  border-color: $secondary-color;
}
.dg-banner-ok{
  color: $ok-color;

  border-color: $ok-color;
}
.dg-banner-info{
  color: $info-color;

  border-color: $info-color;
}
.dg-banner-warn{
  color: $warn-color;

  border-color: $warn-color;
}

.dg-banner-error{
  color: $err-color;

  border-color: $err-color;
}

.dg-banner-mute{
  color: $mute-color;

  border-color: $mute-color;
}

.dg-banner-purple{
  color: $purple-color;

  border-color: $purple-color;
}

@include mobile{
  .dg-banner{
    padding: 10px;
    font-size: 10pt;
    border-width: 2px;
  }
}