@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap");
.h1-icon {
  font-size: 64pt;
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 0px) and (max-width: 599px) {
  .h1-icon {
    font-size: 24pt;
  }
}
html, body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
}

.dg-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dg-standard-menu {
  width: 100%;
  background-color: #34495E;
  color: #ffffff;
}
.dg-standard-menu .dg-head-text {
  font-size: 3em;
  line-height: 0;
}

.dg-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 10;
  flex-direction: column;
}

@media (min-width: 0px) and (max-width: 599px) {
  .dg-standard-menu .dg-head-text {
    font-size: 1em;
  }
}
.dg-color-primary {
  color: #34495E;
}

.dg-color-secondary {
  color: #FFFFFF;
}

.dg-color-ok {
  color: #2ECC71;
}

.dg-color-info {
  color: #2980B9;
}

.dg-color-warn {
  color: #E67E22;
}

.dg-color-err {
  color: #E74C3C;
}

.dg-color-mute {
  color: #95A5A6;
}

.dg-color-purple {
  color: #9B59B6;
}

.dg-bkg-color-primary {
  background-color: #34495E;
}

.dg-bkg-color-secondary {
  background-color: #FFFFFF;
}

.dg-bkg-color-ok {
  background-color: #2ECC71;
}

.dg-bkg-color-info {
  background-color: #2980B9;
}

.dg-bkg-color-warn {
  background-color: #E67E22;
}

.dg-bkg-color-err {
  background-color: #E74C3C;
}

.dg-bkg-color-mute {
  background-color: #95A5A6;
}

.dg-bkg-color-purple {
  background-color: #9B59B6;
}

.dg-color-primary {
  color: #34495E;
}

.dg-color-secondary {
  color: #FFFFFF;
}

.dg-color-ok {
  color: #2ECC71;
}

.dg-color-info {
  color: #2980B9;
}

.dg-color-warn {
  color: #E67E22;
}

.dg-color-err {
  color: #E74C3C;
}

.dg-color-mute {
  color: #95A5A6;
}

.dg-color-purple {
  color: #9B59B6;
}

.dg-bkg-color-primary {
  background-color: #34495E;
}

.dg-bkg-color-secondary {
  background-color: #FFFFFF;
}

.dg-bkg-color-ok {
  background-color: #2ECC71;
}

.dg-bkg-color-info {
  background-color: #2980B9;
}

.dg-bkg-color-warn {
  background-color: #E67E22;
}

.dg-bkg-color-err {
  background-color: #E74C3C;
}

.dg-bkg-color-mute {
  background-color: #95A5A6;
}

.dg-bkg-color-purple {
  background-color: #9B59B6;
}

.h1-icon {
  font-size: 64pt;
  font-weight: 300;
}

body {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 0px) and (max-width: 599px) {
  .h1-icon {
    font-size: 24pt;
  }
}
.dg-banner {
  max-width: 100%;
  left: 0;
  padding: 25px;
  border-radius: 25px;
  border-style: solid;
  border-width: 5px;
  display: flex;
  font-size: 24pt;
}

.dg-banner-primary {
  color: #34495E;
  border-color: #34495E;
}

.dg-banner-secondary {
  color: #FFFFFF;
  border-color: #FFFFFF;
}

.dg-banner-ok {
  color: #2ECC71;
  border-color: #2ECC71;
}

.dg-banner-info {
  color: #2980B9;
  border-color: #2980B9;
}

.dg-banner-warn {
  color: #E67E22;
  border-color: #E67E22;
}

.dg-banner-error {
  color: #E74C3C;
  border-color: #E74C3C;
}

.dg-banner-mute {
  color: #95A5A6;
  border-color: #95A5A6;
}

.dg-banner-purple {
  color: #9B59B6;
  border-color: #9B59B6;
}

@media (min-width: 0px) and (max-width: 599px) {
  .dg-banner {
    padding: 10px;
    font-size: 10pt;
    border-width: 2px;
  }
}
.dg-header {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.dg-header-col {
  flex-direction: column;
  display: flex;
}

.dg-header-entry {
  flex-direction: row;
  display: flex;
  line-height: 0;
}
.dg-header-entry h1 {
  font-size: 56pt;
  font-weight: 300;
}
.dg-header-entry h2 {
  font-size: 40pt;
  font-weight: 400;
}
.dg-header-entry h3 {
  font-size: 36pt;
  font-weight: 400;
}
.dg-header-entry h4 {
  font-size: 32pt;
  font-weight: 400;
}
.dg-header-entry .dg-header-caption {
  font-size: 32pt;
  font-weight: 300;
}

@media (min-width: 0px) and (max-width: 599px) {
  .dg-header-entry h1 {
    font-size: 24pt;
  }
  .dg-header-entry h2 {
    font-size: 20pt;
  }
  .dg-header-entry h3 {
    font-size: 18pt;
  }
  .dg-header-entry h4 {
    font-size: 14pt;
  }
  .dg-header-entry .dg-header-caption {
    font-size: 14pt;
  }
}
.dg-color-primary {
  color: #34495E;
}

.dg-color-secondary {
  color: #FFFFFF;
}

.dg-color-ok {
  color: #2ECC71;
}

.dg-color-info {
  color: #2980B9;
}

.dg-color-warn {
  color: #E67E22;
}

.dg-color-err {
  color: #E74C3C;
}

.dg-color-mute {
  color: #95A5A6;
}

.dg-color-purple {
  color: #9B59B6;
}

.dg-bkg-color-primary {
  background-color: #34495E;
}

.dg-bkg-color-secondary {
  background-color: #FFFFFF;
}

.dg-bkg-color-ok {
  background-color: #2ECC71;
}

.dg-bkg-color-info {
  background-color: #2980B9;
}

.dg-bkg-color-warn {
  background-color: #E67E22;
}

.dg-bkg-color-err {
  background-color: #E74C3C;
}

.dg-bkg-color-mute {
  background-color: #95A5A6;
}

.dg-bkg-color-purple {
  background-color: #9B59B6;
}

.dg-overlay-container {
  width: 100%;
  height: 100%;
  flex: available;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type=checkbox],
input[type=radio] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  input[type=checkbox]:after,
input[type=radio]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  input[type=checkbox]:checked,
input[type=radio]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  input[type=checkbox]:disabled,
input[type=radio]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  input[type=checkbox]:disabled:checked,
input[type=radio]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  input[type=checkbox]:disabled + label,
input[type=radio]:disabled + label {
    cursor: not-allowed;
  }
  input[type=checkbox]:hover:not(:checked):not(:disabled),
input[type=radio]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  input[type=checkbox]:focus,
input[type=radio]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  input[type=checkbox]:not(.switch),
input[type=radio]:not(.switch) {
    width: 21px;
  }
  input[type=checkbox]:not(.switch):after,
input[type=radio]:not(.switch):after {
    opacity: var(--o, 0);
  }
  input[type=checkbox]:not(.switch):checked,
input[type=radio]:not(.switch):checked {
    --o: 1;
  }
  input[type=checkbox] + label,
input[type=radio] + label {
    font-size: 14px;
    line-height: 21px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-left: 4px;
  }

  input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
  input[type=checkbox].switch {
    width: 38px;
    border-radius: 11px;
  }
  input[type=checkbox].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--border));
    transform: translateX(var(--x, 0));
  }
  input[type=checkbox].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
  }
  input[type=checkbox].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }

  input[type=radio] {
    border-radius: 50%;
  }
  input[type=radio]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    transform: scale(var(--s, 0.7));
  }
  input[type=radio]:checked {
    --s: .5;
  }
}
ul {
  margin: 12px;
  padding: 0;
  list-style: none;
  width: 100%;
  max-width: 320px;
}
ul li {
  margin: 16px 0;
  position: relative;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

.dg-padded-form-item {
  margin-left: 5pt;
  margin-top: 5pt;
}

body {
  min-height: 100vh;
  font-family: "Inter", Arial, sans-serif;
  color: #8A91B4;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F8FF;
}
@media (max-width: 800px) {
  body {
    flex-direction: column;
  }
}

/*# sourceMappingURL=all.css.map */
