// Configuration variables for SCSS
$primary-color: #34495E;
$secondary-color: #FFFFFF;

$text-on-primary-color: #ffffff;

$bkg-color: #fffff;
$ok-color: #2ECC71;
$info-color: #2980B9;
$warn-color: #E67E22;
$err-color: #E74C3C;
$mute-color: #95A5A6;
$purple-color: #9B59B6;

// Each of these is a max
$desktopBreakpoint: 1024px;
$tabletBreakpoint: 768px;
$mobileBreakpoint: 600px;
$zeroBreakpoint: 0px;


@mixin mobile {
  @media (min-width: #{$zeroBreakpoint}) and (max-width: #{$mobileBreakpoint - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$mobileBreakpoint}) and (max-width: #{$tabletBreakpoint - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}