@import 'config';

// Styling preexisting HTML elements

html, body{
  width: 100vw;
  height: 100vh;
  position: absolute;
  margin: 0;
  padding: 0;
}

// Styling custom HTML elements
.dg-app{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.dg-standard-menu{
  width: 100%;
  background-color: $primary-color;
  color: $text-on-primary-color;
  .dg-head-text{
    font-size: 3em;
    line-height: 0;
  }
}
.dg-page{
  width: 100%;
  height: 100%;
  display: flex;
  flex: 10;
  flex-direction: column;
}

@include mobile{
  .dg-standard-menu{
    .dg-head-text{
      font-size: 1em;
    }
  }
}