.dg-color-primary {
  color: #34495E;
}

.dg-color-secondary {
  color: #FFFFFF;
}

.dg-color-info {
  color: #2980B9;
}

.dg-color-warn {
  color: #E67E22;
}

.dg-color-err {
  color: #E74C3C;
}

.dg-color-mute {
  color: #95A5A6;
}

.dg-color-purple {
  color: #9B59B6;
}

.dg-bkg-color-primary {
  background-color: #34495E;
}

.dg-bkg-color-secondary {
  background-color: #FFFFFF;
}

.dg-bkg-color-info {
  background-color: #2980B9;
}

.dg-bkg-color-warn {
  background-color: #E67E22;
}

.dg-bkg-color-err {
  background-color: #E74C3C;
}

.dg-bkg-color-mute {
  background-color: #95A5A6;
}

.dg-bkg-color-purple {
  background-color: #9B59B6;
}

/*# sourceMappingURL=custom-colors.css.map */
