@import 'config';

.dg-color-primary{
  color: $primary-color;
}

.dg-color-secondary{
  color: $secondary-color;
}
.dg-color-ok{
  color: $ok-color;
}
.dg-color-info{
  color: $info-color;
}

.dg-color-warn{
  color: $warn-color;
}

.dg-color-err{
  color: $err-color;
}

.dg-color-mute{
  color: $mute-color;
}

.dg-color-purple{
  color: $purple-color;
}


.dg-bkg-color-primary{
  background-color: $primary-color;
}

.dg-bkg-color-secondary{
  background-color: $secondary-color;
}

.dg-bkg-color-ok{
  background-color: $ok-color;
}

.dg-bkg-color-info{
  background-color: $info-color;
}

.dg-bkg-color-warn{
  background-color: $warn-color;
}

.dg-bkg-color-err{
  background-color: $err-color;
}

.dg-bkg-color-mute{
  background-color: $mute-color;
}

.dg-bkg-color-purple{
  background-color: $purple-color;
}