@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import "config";
$primary-font: 'Open Sans', sans-serif;

$font-weight-light: 300;
$font-weight-standard: 400;
$font-weight-emphasized : 700;

.h1-icon{
  font-size: 64pt;
  font-weight: $font-weight-light;
}
body{
  font-family: $primary-font;
}

@include mobile{
  .h1-icon{
    font-size: 24pt;
  }
}
