.dg-header {
  flex-direction: row;
  display: flex;
}

.dg-header-col {
  flex-direction: column;
  display: flex;
}

.dg-header-entry {
  flex-direction: row;
  display: flex;
}
.dg-header-entry h1 {
  font-size: 36pt;
}
.dg-header-entry h2 {
  font-size: 28pt;
}
.dg-header-entry .dg-header-caption {
  font-size: 14pt;
}

/*# sourceMappingURL=headers.css.map */
