@import "config";
.dg-header{
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.dg-header-col{
  flex-direction: column;
  display: flex;

}

.dg-header-entry{
  flex-direction: row;
  display: flex;
  line-height: 0;

  h1{
    font-size: 56pt;
    font-weight: $font-weight-light;
  }
  h2{
    font-size: 40pt;
    font-weight: $font-weight-standard;
  }
  h3{
    font-size: 36pt;
    font-weight: $font-weight-standard;

  }
  h4{
    font-size: 32pt;
    font-weight: $font-weight-standard;

  }

  .dg-header-caption{
    font-size: 32pt;
    font-weight: $font-weight-light;
  }
}

@include mobile{
  .dg-header-entry{
    h1{
      font-size: 24pt;
    }
    h2{
      font-size: 20pt;
    }
    h3{
      font-size: 18pt;

    }
    h4{
      font-size: 14pt;

    }

    .dg-header-caption{
      font-size: 14pt;
    }
  }
}