.dg-color-primary {
  color: #34495E;
}

.dg-color-secondary {
  color: #FFFFFF;
}

.dg-color-ok {
  color: #2ECC71;
}

.dg-color-info {
  color: #2980B9;
}

.dg-color-warn {
  color: #E67E22;
}

.dg-color-err {
  color: #E74C3C;
}

.dg-color-mute {
  color: #95A5A6;
}

.dg-color-purple {
  color: #9B59B6;
}

.dg-bkg-color-primary {
  background-color: #34495E;
}

.dg-bkg-color-secondary {
  background-color: #FFFFFF;
}

.dg-bkg-color-ok {
  background-color: #2ECC71;
}

.dg-bkg-color-info {
  background-color: #2980B9;
}

.dg-bkg-color-warn {
  background-color: #E67E22;
}

.dg-bkg-color-err {
  background-color: #E74C3C;
}

.dg-bkg-color-mute {
  background-color: #95A5A6;
}

.dg-bkg-color-purple {
  background-color: #9B59B6;
}

.dg-overlay-container {
  width: 100%;
  height: 100%;
}

.dg-overlay-gradient-image[data-img-src] {
  background-image: linear-gradient(to bottom, attr(data-init-color, #34495E), attr(data-end-color, #FFFFFF)), url("https://picsum.photos/200/300");
}

/*# sourceMappingURL=overlay.css.map */
